<!-- home.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome To Bookish</h1>
    <button onclick="showRoomForm()">Create New Room</button>
    <div id="roomForm" style="display: none;">
        <form id="createRoomForm" method="post" action="{% url 'create_room' %}">
            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            {{ form.as_p }}
            <button type="submit" onclick="submitForm()">Create Room</button>
        </form>
    </div>
    <h2>Available Rooms:</h2>
    <ul>
        {% for room in rooms %}
        <div class="room-square">
            <h2>{{ room.name }}</h2>
            <p>{{ room.description }}</p>
            <a href="{% url 'discussion_room' room_id=room.id %}">Join Room</a>
        </div>
        {% endfor %}        
    </ul>
    <script>
        function showRoomForm() {
            var form = document.getElementById("roomForm");
            form.style.display = "block";
        }

        function submitForm() {
            document.getElementById("createRoomForm").submit();
        }
    </script>
</body>
</html>
