.add_container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-right: 200px;
    width: 500px;
    height: 400px;
    float: right;
    /* display: none; */
}

.add_container h2 {
    margin-top: 0;
}

.add_container .form-group {
    margin-bottom: 15px;
}

.add_container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add_container label {
    display: block;
    font-weight: bold;
}

.add_container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add_container button {
    background-color: #ec750d;
    color: #fff;
    border: none;
    margin-left: 200px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    
}

.add_container button:hover {
    background-color: #ec750da6;
}
