body{
    margin: 0;
    padding: 0;
    /* color:  #484848; */
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
}



.add-room {
    margin: 10px;
    position: fixed;
    right: 20px;
    background-color: transparent;
    border: none;
}