body {
    background-image: url(../Images/03-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    background-color: #ffffff;
    max-width: 400px;
    margin: 130px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(35, 35, 35, 0.97);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input:focus~label,
.form-group input:valid~label {
    top: -15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-left: -10px;
    border: none;
    border-bottom: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ec750d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ec750dc9;
}


#R-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from its parent */
    /* Add more styles as needed */
  }